@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  background-color: #202124;
  font-family: "Nunito", sans-serif;
  
}
.app {
  font-family: "Nunito", sans-serif;
  background-color: #202124;
  color: #ffffff;
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #3e4042;
  color: #ffffff;
  cursor: pointer;
}

.current-weather, .forecast, .rain-chart, .global-map {
  background-color: #3e4042;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.forecast {
  display: flex;
  justify-content: space-between;
}

.forecast-day {
  text-align: center;
}


